@import "settings.css";
@import "navbar.css";
@import "gallery.css";
@import "blog.css";
@import "manage.css";
html {
    background-color: var(--bg);
}
body {
    margin: 0;
}
h1 {
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
}
.content {
    display: grid;
    width: 100%;
    grid-auto-rows: 0fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
        "title"
        "main";
    justify-items: center;
    position: relative;
    top: 60px;
    padding-top: 0;
}

main {
    position: relative;
    width: 70%;
    background-color: var(--bg);
    background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 65%, rgba(255,255,255,0.3) 100%);
    padding: 10px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 15px 15px 50px 10px black;
}
.background {
    position: fixed;
    width: 100%;
    background-image: url("background.png");
    z-index: 0;
    top: 150px;
    bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
hr{
    width: 90%;
    color: var(--bg);
}
.invisible {
    visibility: hidden;
    position: relative;
    width: 0px;
    height: 0px;
}
form {
    position: relative;
    width: 100%;
}
div.flash-messages {
    padding: 15px;
    position: absolute;
    z-index: 8;
}
div.alert {
    text-shadow: 2px 2px 7px red;
    color: white;
    font-size: 150%;
    display: block;
}

a.error{
    width: 254px;
    padding: 1px 1px;
    background-color: rgb(255, 0, 0, 0.2);
    border-style: solid;
    border-color: red;
    border-width: 1px;
    color: black;
    font-size: small;
}