div.product-manager {
    position: relative;
    display: block;
    width: 90%;
    left: 5%;
}

table {
    position: relative;
    width: 100%;
}
th {
    min-width: 25%;
}
th.id{
    min-width: 0%;
    width: 1%;
}

tr.table-labels{
    font-size: large;
}

tr.product-panel{
    border: 1px solid black;
    text-decoration: none;
}

tr.product-panel th{
    border: 1px solid black;
}

form.picture{
    padding: 0px 0px;
}

div.manager {
    padding: 0px 0px;
    display: block;
}
div.manager input{
    width: auto;
}
input#delete {
    width: 100%;
}

form.delete-product {
    padding: 0px 0px;
}

.form-label{
    font-size: x-large;
}
.labeled-input{
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
}