@import "gallery.css";
@import "navbar.css";

html {
    background-color: rgb(206, 100, 90);
}
h1 {
    position: relative;
    top: 10px;
    text-align: center;
}
main {
    position: absolute;
    width: 60%;
    left: 20%;
    right: 20%;
    background: linear-gradient(90deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.1) 65%, rgba(255,255,255,0.15) 100%);
    border-style: outset;
    padding-bottom: 15px;
    padding-top: 15px;
}

p {
    padding: 15px 20px;
}
