{% extends "layout.html" %}
{% block main %}
    <h1>Login</h1>
    <main>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                {% for item in form %}
                    {% if item.id != 'csrf_token'%}
                        {% if item.id == 'remember' %}
                        <div class="form" id="remember-me">
                            <h4>{{item.label}}</h4>
                            {{item}}
                        </div>

                        {% else %}
                        <div class="form">
                            {% if item.id != 'submit' %}
                                    <h2>{{item.label}}</h2>
                            {% endif %}
                            {{item}}
                            {% if item.errors %}
                                {% for error in item.errors %}
                                    <a class="error">{{error}}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endif %}

                    {% endif %}
                {% endfor %}
        </form>
    </main>
{% endblock %}