{% extends "layout.html" %}
{% block main %}
    <h1>Manage products</h1>
    <main>
        {% if products != [] %}
            <div class="product-manager">
                <table class="product-manager">
                    <tr class="table-labels">
                        <th class="id">id</th>
                        <th>name</th>
                        <th>pictures</th>
                        <th>add picture</th>
                    </tr>
                    {% for product in products %}
                        <tr class="product-panel">
                            <th class="id">{{product.id}}</th>
                            <th>{{product.name}}</th>
                            <th>{{product.pictures}}</th>
                            <th><form class="picture" method="POST"  enctype="multipart/form-data">
                                    {{ picture_form.hidden_tag() }}
                                    <div class="add-picture manager">
                                        {% for item in picture_form %}
                                            {% if item.id not in ['csrf_token']%}
                                                {{item}}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </form>
                            </th>
                        </tr>
                    {% endfor%}
                </table>
            </div>
        {% endif %}
        <form method="POST"  enctype="multipart/form-data">
            {{ product_form.hidden_tag() }}
                <div class="add-picture">
                    {% for item in product_form %}
                        {% if item.id != 'csrf_token'%}
                                {{item}}
                        {% endif %}
                    {% endfor %}
                </div>
        </form>
    </main>
{% endblock %}