{% extends "layout.html" %}
{% block main %}
    <h1>Manage products</h1>
    <main>
        {% if products != [] %}
            <div class="product-manager">
                <table class="product-manager">
                    <tr class="table-labels">
                        <th class="id">id</th>
                        <th>name</th>
                        <th>pictures</th>
                        <th>add picture</th>
                    </tr>
                    {% for product in products %}
                        <tr class="product-panel">
                            <th class="id">
                                <form class="delete-product" method="POST">
                                    {{product.id}}
                                    {% set delete_form = delete_forms[product.id] %}
                                    {{ delete_form.hidden_tag() }}
                                        {% for item in delete_form %}
                                            {% if item.id not in ['csrf_token', 'product_id'] %}
                                                {{item}}
                                            {% elif item.id == 'product_id' %}
                                                <div class="invisible">{{item}}</div>
                                            {% endif %}
                                            {% if item.errors %}
                                                {% for error in item.errors %}
                                                    <a class="error">{{error}}</a>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                </form>
                            </th>
                            <th>{{product.name}}</th>
                            <th>
                                {% for picture in product.pictures %}
                                    <a href={{ url_for('static', filename=picture.path) }}>{{ picture.title }};</a>
                                {% endfor %}
                            </th>
                            <th>
                                <form class="picture" method="POST"  enctype="multipart/form-data">
                                    {% set picture_form = picture_forms[product.id] %}
                                    {{ picture_form.hidden_tag() }}
                                        {% for item in picture_form %}
                                            {% if item.id not in ['csrf_token', 'product_id'] %}
                                                {{item}}
                                            {% elif item.id == 'product_id' %}
                                                <div class="invisible">{{item}}</div>
                                            {% endif %}
                                            {% if item.errors %}
                                                {% for error in item.errors %}
                                                    <a class="error">{{error}}</a>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                </form>
                            </th>
                        </tr>
                    {% endfor%}
                </table>
            </div>
        {% endif %}
        <form method="POST"  enctype="multipart/form-data">
            {{ product_form.hidden_tag() }}
                <div class="add-picture">
                    {% for item in product_form %}
                        {% if item.id != 'csrf_token'%}
                                {{item}}
                            {% if item.errors %}
                                {% for error in item.errors %}
                                    <a class="error">{{error}}</a>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
        </form>
        <form method="POST">
            {{ apply_changes_form.hidden_tag() }}
                <div class="add-picture apply-changes">
                    {% for item in apply_changes_form %}
                        {% if item.id != 'csrf_token'%}
                            {% if item.id == 'password' %}
                                {{item.label}}
                            {% endif%}
                            {{item}}
                            {% if item.errors %}
                                {% for error in item.errors %}
                                    <a class="error">{{error}}</a>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
        </form>
    </main>
{% endblock %}