{% block new_post %}
    <form method="POST" action="" class="blog" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
            {% for item in form %}
                {% if item.id != 'csrf_token'%}
                    <div class="post-form">
                        {% if item.id not in ['submit', 'product_id'] %}
                            <a>{{item.label}}</a>
                        {% endif %}
                        {% if item.id in ['product_id']%}
                            <div class="invisible">
                                {{item}}
                            </div>
                        {% else %}
                            {{item}}
                        {% endif %}
                        {% if item.errors %}
                            {% for error in item.errors %}
                                <a class="error">{{error}}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
    </form>
{% endblock %}